fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
passlib
passlib[bcrypt]
websockets
opencv-python
numpy
mediapipe
opencv-python
python-multipart
pillow
openai
gTTS
python-dotenv
pydub
pandas
plotly
nbformat